body>div>div {
  float:left;
}

div.stories {
  border-width:1px;
  border-style:solid;
  min-height:400px
}

div#backlog, div#completed_stories {
  width:200px
}

div#roles>ol>li {
  width:200px
}

.stories>ol {
  height:400px;
}

div#roles .stories>ol>li {
  float:none
}

li.story {
  border-width:1px;
  border-style:solid;
  overflow:hidden
}

