body {
  margin:15px
}

.role {
  float:left;
  margin:0 5px;
}

div.stories {
  border-width:1px;
  border-style:solid;
  min-height:400px
}

div#role_backlog, div#role_completed_stories {
  width:200px;
}

div#role_backlog>div.stories>ol, div#role_completed_stories>div.stories>ol {
  height:400px
}

div#roles>ol>li {
  width:200px;
}

.stories>ol {
  padding:10px
}
div.active.stories {
  min-height:280px
}
div.active.stories>ol {
  height:280px
}

div.buffer.stories {
  margin-top:10px;
  min-height:108px
}
div.buffer.stories>ol {
  height:88px
}

div#roles .stories>ol>li {
  float:none
}

li.story {
  margin-bottom:10px
}

li.story>div {
  padding:2px;
  border-width:1px;
  border-style:solid;
  overflow:hidden
}

